<div id="nav">
  <ul>
    <li class="{{nav_item_1}}">
      {{#link-to "contact_us"}}
        <i class="glyphicon glyphicon-earphone"></i> 联系我们
      {{/link-to}}
    </li>

    <li class="{{nav_item_2}}">
      {{#link-to "home"}}
        <i class="glyphicon glyphicon-home"></i> 交易
        {{/link-to}}
    </li>

    <li class="{{nav_item_3}}">
      {{#link-to "protected.user.billing"}}
        <i class="glyphicon glyphicon-user"></i> 个人中心
      {{/link-to}}
    </li>

  </ul>
</div>
