<div id="nav" class="ui-navigator over-flow-hide">
  <div class="ui-scroller trans">
    <div class="ui-scroller">
      <ul class="ui-navigator-list tap_high">
        <li class="{{if nav_item_1 'ui-state-active'}}">
          {{#link-to "about-us"}}
            <i class="glyphicon glyphicon-list"></i> 关于我们
          {{/link-to}}
        </li>

        <li class="{{if nav_item_2 'ui-state-active'}}">
          {{#link-to "home"}}
            <i class="glyphicon glyphicon-home"></i> 交易
            {{/link-to}}
        </li>

        <li class="{{if nav_item_3 'ui-state-active'}}">
          {{#link-to "protected.user.billing"}}
            <i class="glyphicon glyphicon-user"></i> 个人中心
          {{/link-to}}
        </li>

      </ul>
    </div>
  </div>
</div>
