{{partial "components/header"}}
<div class="content-wrap">
  <div id="register">
					<div class="text-center mt30">
						<img src="images/logo.png" width="150" />
					</div>
					<div class="text-center mt10">
						<img src="images/nav_kouhao.jpg" width="220" />
					</div>
					<div class="register-form p30 pb20">
						<div class='input-group margin-bottom-20'>
							<span class='input-group-addon'>

								<i class='fa fa-user'></i>

							</span>
							<input autofocus='autofocus' class='form-control' id='user_name' maxlength='10' minlength='4' name='user[username]' placeholder='昵称' tooltip='请输入四个字符以上,十个字符以内' type='text'>
						</div>
						<div class='input-group margin-bottom-20'>
							<span class='input-group-addon'>

								<i class='fa fa-mobile'></i>

							</span>
							<input autofocus='autofocus' class='form-control numberic' id='user_cell' maxlength='11' minlength='11' name='user[cell]' placeholder='手机号码' tooltip='请输入正确的手机号码' type='text'>
						</div>
						<div class='input-group margin-bottom-20'>
							<span class='input-group-addon'>

								<i class='fa fa-lock'></i>

							</span>
							<input autofocus='off' class='form-control' id='user_password' maxlength='12' minlength='6' name='user[password]' placeholder='密码' tooltip='包含数字和字母的至少6个、至多12个字符' type='password'>
						</div>

						<div class='input-group margin-bottom-20'>
							<span class='input-group-addon'>

								<i class='fa fa-lock'></i>

							</span>
							<input autofocus='off' class='form-control' id='user_password_confirmation' maxlength='12' minlength='6' name='user[password_confirmation]' placeholder='确认密码' tooltip='请不要忘记您的密码' type='password'>
						</div>
						<div class='row'>
							<div class='col-xs-6'>
								<div class='input-group margin-bottom-20'>
									<span class='input-group-addon'>

										<i class='fa fa-key'></i>

									</span>
									<input class='form-control' minlength='1' name='verification_code' placeholder='验证码' tooltip='请输入手机收到的验证码' type='text'>
								</div>
							</div>
							<div class='col-xs-6'>
								<a class='btn-u btn-u-red' id='getCheckCode'>获取验证码</a>
							</div>
						</div>
						<div class='row'>
							<div class='col-lg-6 checkbox'>
								<label>
									<input checked='' id='check' type='checkbox'> 已阅读
									<a class='red sign-item' href='javascript:;'>条款</a>
								</label>
							</div>
							<div class='col-lg-12'>
								<button class='btn-u btn-u-red col-sm-12 w-all margin-top-20' id="submit-btn" name='commit' type='button' value='Sign up'>注册</button>
								<input id='subbtn' style='display:none;' type='submit'>
							</div>
							<div class='mt20 text-center'>
								已经注册？
								<a class="red" href="javascript:;">
									<span>

									立即登录

									<i class="fa fa-angle-double-right"></i>

								</span>
								</a>
							</div>
							<div class="col-md-12 text-center fs-sm pt20">
								<div>© 摩尔街 molstr.com 沪ICP备15010975号</div>
								<a href="http://www.molstr.com">pc版</a> 400-108-8182
							</div>
						</div>
					</div>
				</div>
</div>
