


html, body {
	height: 100%;
}
body {
	color: #555;
	min-width: 0;
	background: #f1f1f1;
	display: table;
	width: 100%;
}
.ui-toolbar {
	position: fixed;
	background: white;
	z-index: 999;
	border: none;
	box-shadow: 0px 0px 5px 1px #bbb;
	border-bottom: solid 1px #bbb;
	padding-bottom: 5px;
	top: 0px;
	left: 0px;
}
.ui-toolbar-title {
	text-align: center;
	margin-top: 5px;
	font-size: 1.714em;
}
.ui-toolbar-left {
	left: 0;
	margin-left: 24px;
	padding-top: -4px;
	font-size: 1.714em;
	margin-top: 0px;
}
.ui-toolbar-left i {
	color: #555;
}
.ui-toolbar-right {
	top: 1px;
}

.ui-navigator {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: white;
	border: none;
	box-shadow: 0px 0px 5px 1px #bbb;
	border-top: solid 1px #bbb;
	z-index: 1000;
	width: 100%;
}
.ui-scroller {
	width: 100%;
	display: inherit;
}
.ui-scroller .ui-navigator-list {
	width: 100%;
	padding: 0;
	margin: 0;
}
.ui-scroller .ui-navigator-list li {
	width: 33.3%;
	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 14px;
	background: white;
}
.ui-navigator-list li a {
	color: #555;
	/*margin-bottom: -3px;*/
}
.ui-scroller .ui-navigator-list li i {
	display: block;
}

.ui-navigator-list li.ui-state-hover a,
.ui-navigator-list li.ui-state-active a{
	color: #E7141A;
}
.content-wrap {
	/*height: 100%;*/
  padding-top: 43px;
  padding-bottom: 60px;
}
.content-wrap-inner {
	height: 100%;
}
.form-control {
	font-size: 16px;
	height: 45px;
}
.input-group {
	width: 100%;
}

.input-group-addon {
	font-size: 30px;
	background-color: #E7141A;
	color: white;
	width: 48px;
}
.form-control:focus {
  border-color: #E7141A;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
}
.btn-u.btn-u-red {
	background: #E7141A;
}
.w-all {
	width: 100%;
}
input[type=checkbox], input[type=radio] {
	font-size: 20px;
}
.fs-sm {
	font-size: 12px;
}
.pb20 {
	padding-bottom: 20px;
}
.red {
	color: #E7141A;
}
.logout-btn {
	font-size: 1.4em;
	cursor: pointer;
}
.border-all {
	border: solid 1px #bbb;
}
.bg-white {
	background-color: white;
}


.nav-ver-list {

}
.nav-ver-item {
	border-top: solid 1px #bbb;
	background: white;
	display: table;
  width: 100%;
}
.nav-ver-item:active {
	background: #f1f1f1;
}
.nav-ver-item:last-child {
	border-bottom: solid 1px #bbb;
}

.nav-ver-item .item-content {
	padding: 15px 4% 15px 8%;
}

.fs18 {
	font-size: 18px;
}
.fs20 {
	font-size: 20px;
}
.mt5 {
	margin-top: 5px;
}

.icon-logo {
	width: 20px;
	height: 20px;
}
.icon-logo:before {
	content: "";
	background: url("../images/molstr-icon.png") no-repeat;
	background-size: contain;
	height: 100%;
	display: block;
	margin-top: 3px;
}
.icon-idcard {
	display: inline-block;
  vertical-align: middle;
}
.icon-idcard:before {
	content: "";
	background: url("../images/idcard.png") no-repeat;
	background-size: contain;
	height: 20px;
	display: block;
	width: 20px;
}
.icon-idcard2{
	display: inline-block;
	vertical-align: middle;
}
.icon-idcard2:before {
	content: "";
	background: url("../images/idcard2.png") no-repeat;
	background-size: contain;
	height: 28px;
  display: block;
  width: 32px;
}

.white {
	color: white;
}
.color-inherit {
	color: inherit;
}
.light-gray {
	color: #bbb;
}

.pagination .page-number {
	display: none;
}
.pagination .arrow{
	display: inline-block;
}
.pagination .active{
	display: inline-block;
}

.contact-item .contact-item-title{
  padding: 10px 15px;
	font-size: 20px;
}

.contact-item .contact-item-content {
	padding: 10px 48px;
  background: white;
  font-size: 18px;
}
.bold {
	font-weight: bold;
}
.center {
	text-align: center;
}

.bet-item-box input[type="radio"] {
	-webkit-appearance: none;
	opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
	margin-top: 0;
}

.bet-item-box {
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 20%!important;
  display: inline-block;
  border: solid 1px #ddd;
	position: relative;
}

.bet-item-box h3 {
	margin-top: 15px;
}

.bet-item-box.active {
	background: #888;
}
.bet-item-box.active h3 {
	color: white;
}

.align-right {
	text-align: right;
}

.inline {
	display: inline-block;
}
.ltr-spc-2 {
	letter-spacing: 2px;
}

.bet-button {
	width: 90%;
}

span.ret-up {
  display: inline-block;
  margin-left: 8px;
  border-bottom: 16px solid;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-top: none;
}

span.ret-down {
  display: inline-block;
  margin-left: 8px;
  border-top: 16px solid;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: none;
}

.border-dot {
	border: dashed 1px #bbb;
}

.bet-des {
	padding: 10px;
	font-size: 16px;
}

.bet-des h3 {
	font-size: 18px;
	font-weight: bold;
}

.bet-des p {
	text-indent: 2em;
}


.modal h4 {
	font-size: 20px;
	text-align: center;
}

.modal .modal-header {
	border-bottom: 1px dashed #666;
  margin: 0 18px;
}

.modal .modal-footer {
	border-top: 0;
	text-align: center;
}

.modal.fade.in {
	background-color: rgba(200,200,200,0.5);
}

.modal .modal-dialog {
	margin: 45% 16%;
}

.modal .modal-body {
	font-size: 18px;
}

.modal .modal-footer button {
	width: 40%;
	font-size: 16px;
}

#orderConfirmModal .modal-body {
	padding-left: 32px;
}

a.black {
	color: #555;
}

.bg-red {
	background: rgb(210, 90, 90);
}

.charge-btn {
	border: solid 1px;
}

a:focus {
	color: white;
}

a.color-inherit:hover {
	color: inherit;
}



.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	margin-right: 0px;
  line-height: 1.42857143;
  border: 1px solid #eee;
  border-radius: 4px 4px 0 0;
  color: #555;
  background-color: white;

}

.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
  border-color: #eee #eee #ddd;
	background-color: #eee;
	text-decoration: none;
	cursor: pointer;
}


.nav-tabs>li>a.active, .nav-tabs>li>a.active:hover, .nav-tabs>li>a.active:focus {
	color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #eee;
  border-bottom: solid 2px rgb(210,90,90);
}

.nav-tabs>li>a {
	color: #555;
	background-color: white;
	border: 1px solid #eee;
	margin-right: 0px;
	text-align: center;
}


.nav>li>a:focus {
  text-decoration: none;
  background-color: white;
}

.nav>li.active>a:focus {
  text-decoration: none;
  background-color: white;
}

.profile-tab .nav-tabs {
	display: table;
  width: 100%;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs>li {
  float: none;
  margin-bottom: 0px;
	display: table-cell;
}

.pagination li a:hover {
  color: #555;
  background: #fff;
  border-color: #ddd;
}
.pagination {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order-list-tit {
	padding: 15px 4% 15px 8%;
}

.order-list .wp1 {
	width: 18%;
	display: inline-block;
}

.order-list .wp2 {
	width: 26%;
	display: inline-block;
}

.order-list .wp3 {
	width: 26%;
	display: inline-block;
}

.order-list .wp4 {
	width: 24%;
	display: inline-block;
}

.order-list .nav-ver-item .wp2 {
	width: 28%;
	display: inline-block;
}
.order-list .nav-ver-item .wp3 {
	width: 28%;
	display: inline-block;
}

.order-list .nav-ver-item .wp4 {
	width: 20%;
	display: inline-block;
}

.type-red {
	color: #DF2E2E;
}

.type-blue {
	color: #41BE68;
}

.right {
	text-align: right;
}


.bet-item-box h3 {
	font-size: 16px;
}

.btn-u-lg, a.btn-u-lg {
	padding: 10px;
}

.over-flow-hide {
	overflow: hidden;
}

.trans {
	-webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -webkit-transform-origin: 0px 0px 0px;
  -webkit-transform: translate(0px, 0px) translateZ(0px);
}

.tap_high {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#table-box-futures-hq td {
	  color: #005CBF;
}

#table-box-futures-hq .green {
  color: green;
}
#table-box-futures-hq .red{
	color:red;
}

table#table-box-futures-hq {
  font-size: 12px;
	margin-bottom: 6px;
}

#table-box-futures-hq .real-price {
  float: left;
  font-size: 26px;
  height: 44px;
  line-height: 50px;
  text-align: right;
  vertical-align: middle;
	padding-left: 6px;
}
#table-box-futures-hq .trade-time {
	clear: both;
	border-top: 1px solid #dae3ea;
	color: #585858;
	text-align: center;
	margin-top: 8px;
	padding-top: 4px;
}

#table-box-futures-hq .arrow{
	display: inline-block;
  font-family: Arial;
	background:url('../images/arrow.gif') no-repeat 0 -40px;
	width:21px;
	height:36px;
	margin-left:4px;
}
#table-box-futures-hq .red .arrow{
	background-position: 0 0;
}

#table-box-futures-hq .change-wrap {
	text-align: center;
	display: inline-block;
	width: 100%;
}

#table-box-futures-hq span.amt-value {
	padding-right: 6px;
}

#table-box-futures-hq.table > thead > tr > th, #table-box-futures-hq.table > tbody > tr > th, #table-box-futures-hq.table > tfoot > tr > th, #table-box-futures-hq.table > thead > tr > td, #table-box-futures-hq.table > tbody > tr > td, #table-box-futures-hq.table > tfoot > tr > td {
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}

.table-width-all {
	display: table;
	width: 100%;
}

.hq_lf_box {
	width: 128px;
}
