{{zz-header toolbar_back_show=true toolbar_back_url="about-us" toolbar_name="公司简介" toolbar_login=true}}
<div class="content-wrap">
  <div class="row mt20">
    <div class="col-md-12">
      <h4 class="center">证津信息科技（上海）有限公司</h4>
      <p class="mt10 text-indent-2">
               注册资本5000万元，总部位于上海浦东，旗下的“期乐宝”互联网金融平台为中小投资者提供全方位的投资风险管理解决方案，专注于场外金融衍生品信息的发布，拓展投资人理财渠道等服务。 “期乐宝”响应国务院、证监会大力发展金融市场创新为实体经济服务的号召以及顺应互联网金融变革的浪潮，秉持“创新、真诚、透明、高效”的发展原则，以提供专业、有效的投资风险管理以及投资高额收益服务为宗旨，不断进取，成为互联网普惠金融发展潮流中的引领者！
      </p>

      <div class="text logo-des">
        <p>
          <span>版权所有 证津信息科技（上海）有限公司 </span>
        </p>
        <p>
          <span>Copyright Reserved 2015-2017 沪ICP备15010975号</span>
        </p>
      </div>
    </div>
  </div>
</div>
