{{zz-header toolbar_back_show=true toolbar_back_url="about-us" toolbar_name="业务模式" toolbar_login=true}}
<div class="content-wrap">
  <div class="row mt20">
    <div class="col-md-12">
      <h4 class="center">“期乐宝-迷你期权”</h4>
      <p class="mt10 text-indent-2">
        是证津信息科技（上海）有限公司联合大地期货共同推出的服务于中小投资人对冲交易需求的创新金融产品。该产品对应沪深300股指期货近月合约，投资人可以运用“期乐宝-迷你期权”对冲A股持仓风险，亦可以预测股指期货日内涨跌，获取高额收益，而这些只需要付出极少的期权费用。
      </p>

      <p class="text-indent-2">
        无论是在上班的通勤路上，在等待朋友的餐厅里，或是在自家的沙发上，您都可以随心随手下单操作，抓住每一个新闻，把我每一个机会，让投资敏锐的您不放过任何一个绝佳机会。
      </p>

      <div class="text logo-des">
        <p>
          <span>版权所有 证津信息科技（上海）有限公司 </span>
        </p>
        <p>
          <span>Copyright Reserved 2015-2017 沪ICP备15010975号</span>
        </p>
      </div>
    </div>
  </div>
</div>
