{{partial "components/header"}}
<div class="content-wrap">
  <div class="row">
    <div class="contact-item">
      <h3 class="contact-item-title">公司总部</h3>
      <div class="contact-item-content"><p class="fs14">上海张江高科技园区祖冲之路1077号3幢205室</p></div>
    </div>
    <div class="contact-item">
      <h3 class="contact-item-title">客服电话</h3>
      <div class="contact-item-content">
        <div><span class="bold">400: </span> <span class="bold"> 400-108-8182</span> </div>
        <div><span class="bold">电话: </span> <span > 021-31587161 </span> </div>
        <div><span class="bold">传真: </span> <span > 021-31587165 </span> </div>
      </div>
    </div>
    <div class="contact-item">
      <h3 class="contact-item-title">邮箱</h3>
      <div class="contact-item-content"><p class="bold"> bd@7lebao.com</p></div>
    </div>
    <div class="contact-item">
      <h3 class="contact-item-title">公司介绍</h3>
      <div class="contact-item-content">
        <p class="fs14">证津信息科技（上海）有限公司注册资本5000万元，总部位于上海，创始团队都毕业于国内外名校，
          具有硕士及以上学历，分别来自于大型券商、期货公司、知名IT企业以及律师事务所，会计师事务所等，具有扎实的专
          业知识与丰富的行业经验。证津信息科技旗下的“期乐宝”互联网平台是中国首家致力于为广大中小投资者提供高效、灵活、
          创新的金融风险管理工具</p>
        </div>
    </div>
  </div>
</div>
