{{zz-header toolbar_back_show=true toolbar_back_url="about-us" toolbar_name="管理团队" toolbar_login=true}}
<div class="content-wrap">
  <div class="row mt20">
    <ul class="nav-ver-list w-all user-list">
      <li class="nav-ver-item border-bottom">
        <div class="col-mg-12">
          <div class="col-xs-3">
            <img src="./images/chenyongqing.jpg" alt="" width="100%" />
          </div>
          <div class="col-xs-9">
            <h4>陈永卿-CEO</h4>
            <p class="user-info">
              毕业于浙江大学和日本早稻田大学，双硕士学位。先后任职于SunGard（全球最大的金融软件供应商），Misys，国金证券研究所。多年的金融行业从业经验及金融IT系统建设经验。
            </p>
          </div>
        </div>
      </li>

      <li class="nav-ver-item border-bottom mt20">
        <div class="col-mg-12">
          <div class="col-xs-3">
            <img src="./images/linxiao.jpg" alt=""  width="100%" />
          </div>
          <div class="col-xs-9">
            <h4>林晓-首席技术官</h4>
            <p class="user-info">
              毕业于上海交通大学，计算机硕士。曾经负责白猫集团、 朝华数字娱乐、ThinkBridge Consulting等公司的技术和项目开发工作，参与主持了包括野村证券ＮＥＸＴ交易系统、中国联通信息管理流程系统等大型软件工程的开发和管理工作。
            </p>
          </div>
        </div>
      </li>

      <li class="nav-ver-item border-bottom mt20">
        <div class="col-mg-12">
          <div class="col-xs-3">
            <img src="./images/zhangfeng.jpg" alt="" width="100%" />
          </div>
          <div class="col-xs-9">
            <h4>张凤-运营总监</h4>
            <p class="user-info">
              毕业于上海大学，MBA。先后任职于招商证券、银河证券、好买基金网。多年的客户管理、业务开拓、网站运营的经验。
            </p>
          </div>
        </div>
      </li>
      <li class="nav-ver-item border-bottom mt20">
        <div class="col-mg-12">
          <div class="col-xs-3">
            <img src="./images/houxingguo.jpg" alt="" width="100%"/>
          </div>
          <div class="col-xs-9">
            <h4>侯兴国-首席风险官</h4>
            <p class="user-info">
              毕业于黑龙江大学，法学硕士，常年从事股票和期货市场投资，曾任某大型私募基金的交易风险管理员，具有丰富的交易和风控经验，擅长风险量化并对中国金融法规及市场规则有深刻理解。
            </p>
          </div>
        </div>
      </li>

    </ul>

    <div class="text logo-des">
      <p>
        <span>版权所有 证津信息科技（上海）有限公司 </span>
      </p>
      <p>
        <span>Copyright Reserved 2015-2017 沪ICP备15010975号</span>
      </p>
    </div>
  </div>
</div>
