<ul class="nav-ver-list w-all">
  <li class="nav-ver-item">
    <div class="item-content">
      <div class="fs18">
        <span class="text-center w30 inline-block">
          <i class="fa fa-mobile fs20"></i>
        </span>
        <span class="ml10">手机认证</span>
        <i class="fa fa-chevron-right pull-right mt5"></i>
        <span class="pull-right light-gray">{{model.cell}}</span>
      </div>
    </div>
  </li>

  <li class="nav-ver-item">
    {{#link-to 'protected.reset_password' class="color-inherit"}}
    <div class="item-content">
      <div class="fs18">
        <span class="text-center w30 inline-block">
          <i class="fa fa-lock"></i>
        </span>
        <span class="ml10">修改密码</span>
        <i class="fa fa-chevron-right pull-right mt5"></i>
      </div>
    </div>
    {{/link-to}}

  </li>
</ul>
